/* начало Heder */
.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(20, 16, 36, 1);
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  justify-self: center;
}

.nav {
  color: white;
  justify-self: center;
  font-size: 20px;

  .nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;

    .nav-element {
      .nav-link {
        text-decoration: none;
      }

      .nav-link:hover {
        cursor: pointer;
        color: rgba(213, 32, 39, 1);
      }
    }
  }
}

.address {
  justify-self: center;
  color: white;
  text-transform: none;

  .tel {
    width: 100%;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
}

@media (max-width: 770px) {
  .header {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 0;
  }
}
/*END OF HEADER */

/* Начало Main */
/* Main -1- first section */
.cover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(20, 16, 36, 1);
  color: white;
}
/* left side */
.cover-left-side {
  display: flex;
  justify-content: end;
  align-items: center;
}

.left-side-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-title {
  display: flex;
  flex-direction: column;

  .main-title-header {
    display: block;

    font-size: 50px;
    text-transform: uppercase;
  }

  .main-title-text {
    display: block;

    font-size: 18px;
    font-weight: normal;
  }
}

.cover-left-side-button {
  width: 200px;
  height: 60px;
  background-color: rgba(213, 32, 39, 1);
  padding: 20px 40px;
  color: white;
  border: transparent;
  transition: 1s;
}

.cover-left-side-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* right side */
.cover-right-side {
  position: relative; /* for absolute ellipse */
}

.girl-section {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 500px;
  height: 850px;

  .img-girl {
    width: 100%;
    height: 100%;
  }
}

.ellipse {
  position: absolute;
  z-index: 0;
  margin: auto auto 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 90%;
  border: 40px solid white;
  border-radius: 50%;
}
@media (max-width: 1600px) {
  .cover-right-side {
    position: relative; /* for absolute ellipse */
  }
  
  .girl-section {
    position: relative;
    z-index: 1;
    margin: auto;
    width: 300px;
    height: 550px;
  
    .img-girl {
      width: 100%;
      height: 100%;
    }
  }
  
  .ellipse {
    position: absolute;
    z-index: 0;
    margin: auto auto 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 90%;
    border: 40px solid white;
    border-radius: 50%;
  }
}

@media (max-width: 770px) {
  .cover {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 30px;
  }
  /* right side */
  .cover-right-side {
    grid-row: 1;
  }

  .girl-section {
    width: 240px;
    height: 395px;
  }

  .ellipse {
    width: 80%;
    height: 90%;
    border: 30px solid white;
    border-radius: 50%;
  }

  /* left side */
  .cover-left-side {
    display: flex;
    align-items: start;
  }

  .left-side-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .main-title {
    width: 100%;
    display: flex;
    flex-direction: column;

    .main-title-header {
      display: block;
      text-align: center;
      font-size: 35px;
      text-transform: uppercase;
    }

    .main-title-text {
      padding-left: 20px;
      padding-right: 20px;
      display: block;
      text-align: center;
      font-size: 18px;
      font-weight: normal;
    }
  }

  .cover-left-side-button {
    margin: auto;
    justify-self: center;
    width: 200px;
    height: 60px;
    background-color: rgba(213, 32, 39, 1);
    padding: 20px 40px;
    color: white;
    border: transparent;
    transition: 1s;
  }

  .cover-left-side-button:hover {
    cursor: pointer;
    transform: scale(1);
  }
}

/* END OF FIRST SECTION */

/* Main - 2 - second section */

.second-section {
  padding: 150px 200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.second-section-title {
  width: 70%;
  font-size: 25px;
  font-weight: normal;

  .second-section-title-span {
    font-weight: bold;
  }
}

.second-section-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 30px;
}

.second-section-list-item {
  display: flex;
  flex-direction: column;

  .list-item-number {
    font-size: 50px;
    font-weight: bold;
    color: rgba(213, 32, 39, 1);
  }
}

@media (max-width: 770px) {
  .second-section {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .second-section-title {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
  
    .second-section-title-span {
      font-weight: bold;
    }
  }
  
  .second-section-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    list-style: none;
    gap: 30px;
  }
  
  .second-section-list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  
    .list-item-number {
      font-size: 50px;
      font-weight: bold;
      color: rgba(213, 32, 39, 1);
    }
  }
}

/* END OF SECOND SECTION */

/* MAIN -3- THIRD SECTION START */

.third-section {
  padding: 150px 200px;
  background-color: rgba(249, 249, 249, 1);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.third-section-title {
  font-size: 40px;
}

.third-section-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  list-style: none;
}

.third-section-list-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.third-section-list-item-header {
  font-size: 24px;
}

@media (max-width: 770px) {
  .third-section {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .third-section-title {
    font-size: 30px;
    text-align: center;
  }
  
  .third-section-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    list-style: none;
  }
  
  .third-section-list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  
  .third-section-list-item-header {
    font-size: 20px;
  }
}

/* END OF THIRD SECTION */
