@charset "UTF-8";
/* начало Heder */
.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(20, 16, 36);
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
  justify-self: center;
}

.nav {
  color: white;
  justify-self: center;
  font-size: 20px;
}
.nav .nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
}
.nav .nav-list .nav-element .nav-link {
  text-decoration: none;
}
.nav .nav-list .nav-element .nav-link:hover {
  cursor: pointer;
  color: rgb(213, 32, 39);
}

.address {
  justify-self: center;
  color: white;
  text-transform: none;
}
.address .tel {
  width: 100%;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

@media (max-width: 1050px) {
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(20, 16, 36);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    justify-self: center;
    align-self: center;
  }
  .nav {
    color: white;
    justify-self: center;
    align-self: center;
    font-size: 14px;
  }
  .nav .nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
  }
  .nav .nav-list .nav-element .nav-link {
    text-decoration: none;
  }
  .nav .nav-list .nav-element .nav-link:hover {
    cursor: pointer;
    color: rgb(213, 32, 39);
  }
  .address {
    justify-self: center;
    color: white;
    text-transform: none;
  }
  .address .tel {
    width: 100%;
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
}
@media (max-width: 760px) {
  .header {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 0;
  }
}
/*END OF HEADER */
/* Начало Main */
/* Main -1- first section */
.cover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(20, 16, 36);
  color: white;
}

/* left side */
.cover-left-side {
  display: flex;
  justify-content: end;
  align-items: center;
}

.left-side-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.main-title {
  display: flex;
  flex-direction: column;
}
.main-title .main-title-header {
  display: block;
  font-size: 70px;
  text-transform: uppercase;
}
.main-title .main-title-text {
  display: block;
  font-size: 30px;
  font-weight: normal;
}

.cover-left-side-button {
  width: 250px;
  height: 100px;
  background-color: rgb(213, 32, 39);
  padding: 15px 30px;
  color: white;
  border: transparent;
  border-radius: 10px;
  font-size: 20px;
  transition: 1s;
}

.cover-left-side-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* right side */
.cover-right-side {
  position: relative; /* for absolute ellipse */
}

.girl-section {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 600px;
  height: 1000px;
}
.girl-section .img-girl {
  width: 100%;
  height: 100%;
}

.ellipse {
  position: absolute;
  z-index: 0;
  margin: auto auto 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 90%;
  border: 70px solid white;
  border-radius: 50%;
}

@media (max-width: 2000px) {
  .cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(20, 16, 36);
    color: white;
  }
  /* left side */
  .cover-left-side {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .left-side-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .main-title {
    display: flex;
    flex-direction: column;
  }
  .main-title .main-title-header {
    display: block;
    font-size: 50px;
    text-transform: uppercase;
  }
  .main-title .main-title-text {
    display: block;
    font-size: 18px;
    font-weight: normal;
  }
  .cover-left-side-button {
    width: 200px;
    height: 60px;
    background-color: rgb(213, 32, 39);
    padding: 20px 40px;
    color: white;
    border: transparent;
    font-size: 13px;
    transition: 1s;
  }
  .cover-left-side-button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  /* right side */
  .cover-right-side {
    position: relative; /* for absolute ellipse */
  }
  .girl-section {
    position: relative;
    z-index: 1;
    margin: auto;
    width: 500px;
    height: 850px;
  }
  .girl-section .img-girl {
    width: 100%;
    height: 100%;
  }
  .ellipse {
    position: absolute;
    z-index: 0;
    margin: auto auto 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 90%;
    border: 40px solid white;
    border-radius: 50%;
  }
}
@media (max-width: 1600px) {
  .cover-right-side {
    position: relative; /* for absolute ellipse */
  }
  .girl-section {
    position: relative;
    z-index: 1;
    margin: auto;
    width: 300px;
    height: 550px;
  }
  .girl-section .img-girl {
    width: 100%;
    height: 100%;
  }
  .ellipse {
    position: absolute;
    z-index: 0;
    margin: auto auto 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 90%;
    border: 40px solid white;
    border-radius: 50%;
  }
}
@media (max-width: 1050px) {
  .cover-right-side {
    position: relative; /* for absolute ellipse */
  }
  .girl-section {
    position: relative;
    z-index: 1;
    margin: auto;
    width: 300px;
    height: 550px;
  }
  .girl-section .img-girl {
    width: 100%;
    height: 100%;
  }
  .ellipse {
    position: absolute;
    z-index: 0;
    margin: auto auto 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    border: 40px solid white;
    border-radius: 50%;
  }
}
@media (max-width: 760px) {
  .cover {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 30px;
  }
  /* right side */
  .cover-right-side {
    grid-row: 1;
  }
  .girl-section {
    width: 240px;
    height: 395px;
  }
  .ellipse {
    width: 80%;
    height: 90%;
    border: 30px solid white;
    border-radius: 50%;
  }
  /* left side */
  .cover-left-side {
    display: flex;
    align-items: start;
  }
  .left-side-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .main-title {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main-title .main-title-header {
    display: block;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
  }
  .main-title .main-title-text {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
  }
  .cover-left-side-button {
    margin: auto;
    justify-self: center;
    width: 200px;
    height: 60px;
    background-color: rgb(213, 32, 39);
    padding: 20px 40px;
    color: white;
    border: transparent;
    transition: 1s;
  }
  .cover-left-side-button:hover {
    cursor: pointer;
    transform: scale(1);
  }
}
/* END OF FIRST SECTION */
/* Main - 2 - second section */
.second-section {
  padding: 150px 400px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.second-section-title {
  width: 70%;
  font-size: 30px;
  font-weight: normal;
}
.second-section-title .second-section-title-span {
  font-weight: bold;
}

.second-section-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 50px;
}

.second-section-list-item {
  display: flex;
  flex-direction: column;
}
.second-section-list-item .list-item-number {
  font-size: 70px;
  font-weight: bold;
  color: rgb(213, 32, 39);
}
.second-section-list-item .list-item-text {
  font-size: 1.3em;
}

@media (max-width: 2000px) {
  .second-section-list-item {
    display: flex;
    flex-direction: column;
  }
  .second-section-list-item .list-item-number {
    font-size: 3.5em;
    font-weight: bold;
    color: rgb(213, 32, 39);
  }
  .second-section-list-item .list-item-text {
    font-size: 1.2em;
  }
}
@media (max-width: 1600px) {
  .second-section {
    padding: 150px 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .second-section-title {
    width: 70%;
    font-size: 25px;
    font-weight: normal;
  }
  .second-section-title .second-section-title-span {
    font-weight: bold;
  }
  .second-section-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    gap: 30px;
  }
  .second-section-list-item {
    display: flex;
    flex-direction: column;
  }
  .second-section-list-item .list-item-number {
    font-size: 50px;
    font-weight: bold;
    color: rgb(213, 32, 39);
  }
  .second-section-list-item .list-item-text {
    font-size: 1em;
  }
}
@media (max-width: 1050px) {
  .second-section {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .second-section-title {
    width: 80%;
    font-size: 25px;
    font-weight: normal;
  }
  .second-section-title .second-section-title-span {
    font-weight: bold;
  }
  .second-section-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    gap: 10px;
  }
  .second-section-list-item {
    display: flex;
    flex-direction: column;
  }
  .second-section-list-item .list-item-number {
    font-size: 40px;
    font-weight: bold;
    color: rgb(213, 32, 39);
  }
  .second-section-list-item .list-item-text {
    font-size: 1em;
  }
}
@media (max-width: 760px) {
  .second-section {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .second-section-title {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
  }
  .second-section-title .second-section-title-span {
    font-weight: bold;
  }
  .second-section-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    list-style: none;
    gap: 30px;
  }
  .second-section-list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .second-section-list-item .list-item-number {
    font-size: 50px;
    font-weight: bold;
    color: rgb(213, 32, 39);
  }
  .second-section-list-item .list-item-text {
    font-size: 1em;
  }
}
/* END OF SECOND SECTION */
/* MAIN -3- THIRD SECTION START */
.third-section {
  padding: 150px 400px;
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.third-section-title {
  font-size: 3em;
}

.third-section-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  list-style: none;
}

.third-section-list-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.third-section-list-item-header {
  font-size: 2em;
}

.third-section-list-item-text {
  font-size: 1.3em;
}

@media (max-width: 1600px) {
  .third-section {
    padding: 150px 200px;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .third-section-title {
    font-size: 2.5em;
  }
  .third-section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    list-style: none;
  }
  .third-section-list-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .third-section-list-item-header {
    font-size: 24px;
  }
  .third-section-list-item-text {
    font-size: 1em;
  }
}
@media (max-width: 1050px) {
  .third-section {
    padding: 100px 50px;
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .third-section-list-item-text {
    font-size: 1em;
  }
}
@media (max-width: 760px) {
  .third-section {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .third-section-title {
    font-size: 30px;
    text-align: center;
  }
  .third-section-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
    list-style: none;
  }
  .third-section-list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .third-section-list-item-header {
    font-size: 20px;
  }
  .third-section-list-item-text {
    font-size: 1em;
  }
}
/* END OF THIRD SECTION */
/* MAIN -4- FOURTH SECTION START */
.fourth-section {
  width: 100%;
  padding: 150px 400px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.fourt-section-title {
  font-size: 3em;
}

.fourt-section-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 40px;
  list-style: none;
}
.fourt-section-list .fourth-section-list-item {
  width: 400px;
  height: 700px;
  margin-bottom: 15px;
}
.fourt-section-list .fourth-section-list-item .fourth-section-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fourt-section-list .fourth-section-list-item .fourth-section-card .trainer-img {
  width: 100%;
  height: 75%;
}
.fourt-section-list .fourth-section-list-item .fourth-section-card .more-information {
  display: block;
}

@media (max-width: 2000px) {
  .fourth-section {
    width: 100%;
    padding: 150px 400px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .fourt-section-title {
    font-size: 3em;
  }
  .fourt-section-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 40px;
    list-style: none;
  }
  .fourt-section-list .fourth-section-list-item {
    width: 250px;
    height: 450px;
    margin-bottom: 15px;
  }
  .fourt-section-list .fourth-section-list-item .fourth-section-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fourt-section-list .fourth-section-list-item .fourth-section-card .trainer-img {
    width: 100%;
    height: 75%;
  }
  .fourt-section-list .fourth-section-list-item .fourth-section-card .more-information {
    display: block;
  }
}
@media (max-width: 1600px) {
  .fourth-section {
    width: 100%;
    padding: 150px 200px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .fourt-section-title {
    font-size: 2.5em;
  }
  .fourt-section-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 40px;
    list-style: none;
  }
  .fourt-section-list .fourth-section-list-item {
    width: 250px;
    height: 450px;
    margin-bottom: 15px;
  }
  .fourt-section-list .fourth-section-list-item .fourth-section-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fourt-section-list .fourth-section-list-item .fourth-section-card .trainer-img {
    width: 100%;
    height: 75%;
  }
  .fourt-section-list .fourth-section-list-item .fourth-section-card .more-information {
    display: block;
  }
}
@media (max-width: 1050px) {
  .fourth-section {
    width: 100%;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}
@media (max-width: 760px) {
  .fourth-section {
    width: 100%;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .fourt-section-title {
    font-size: 2em;
  }
  .fourt-section-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 40px;
    list-style: none;
  }
  .fourt-section-list .fourth-section-list-item {
    width: 250px;
    height: 450px;
    margin-bottom: 15px;
  }
  .fourt-section-list .fourth-section-list-item .fourth-section-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fourt-section-list .fourth-section-list-item .fourth-section-card .trainer-img {
    width: 100%;
    height: 75%;
  }
  .fourt-section-list .fourth-section-list-item .fourth-section-card .more-information {
    display: block;
  }
}
/* END OF FOURTH SECTION */
/* MAIN -5- FITH SECTION START */
.fifth-section {
  padding: 100px 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fifth-section-title {
  font-size: 3em;
}

.fifth-section-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}
.fifth-section-list .fifth-section-list-item-one {
  justify-self: start;
}
.fifth-section-list .fifth-section-list-item-two {
  justify-self: center;
}
.fifth-section-list .fifth-section-list-item-three {
  justify-self: end;
}
.fifth-section-list .fifth-section-list-item-card {
  width: 450px;
  height: 550px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.fifth-section-list .fifth-section-list-item-card .section-fith-card-header {
  font-size: 2em;
}
.fifth-section-list .fifth-section-list-item-card .section-fith-card-price {
  font-size: 3em;
  font-weight: bold;
}
.fifth-section-list .fifth-section-list-item-card .section-fith-card-description {
  font-size: 2em;
}
.fifth-section-list .fifth-section-list-item-card .section-fith-card-button {
  width: 350px;
  height: 60px;
  align-self: center;
  background-color: rgb(213, 32, 39);
  padding: 10px 25px;
  color: white;
  border: transparent;
  font-size: 1em;
  border-radius: 10px;
}
.fifth-section-list .fifth-section-list-item-card:hover {
  transition: 0.5s;
  transform: scale(1.1);
  color: white;
  background-color: rgb(20, 16, 36);
}

@media (max-width: 2000px) {
  .fifth-section {
    padding: 100px 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .fifth-section-title {
    font-size: 3em;
  }
  .fifth-section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
  }
  .fifth-section-list .fifth-section-list-item-one {
    justify-self: start;
  }
  .fifth-section-list .fifth-section-list-item-two {
    justify-self: center;
  }
  .fifth-section-list .fifth-section-list-item-three {
    justify-self: end;
  }
  .fifth-section-list .fifth-section-list-item-card {
    width: 350px;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-header {
    font-size: 1.5em;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-price {
    font-size: 2em;
    font-weight: bold;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-description {
    font-size: 1em;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-button {
    width: 200px;
    height: 60px;
    align-self: center;
    background-color: rgb(213, 32, 39);
    padding: 10px 25px;
    color: white;
    border: transparent;
    font-size: 0.7em;
    border-radius: 10px;
  }
  .fifth-section-list .fifth-section-list-item-card:hover {
    transition: 0.5s;
    transform: scale(1.1);
    color: white;
    background-color: rgb(20, 16, 36);
  }
}
@media (max-width: 1600px) {
  .fifth-section {
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .fifth-section-title {
    font-size: 2.5em;
  }
  .fifth-section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
  }
  .fifth-section-list .fifth-section-list-item-one {
    justify-self: start;
  }
  .fifth-section-list .fifth-section-list-item-two {
    justify-self: center;
  }
  .fifth-section-list .fifth-section-list-item-three {
    justify-self: end;
  }
  .fifth-section-list .fifth-section-list-item-card {
    width: 250px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-header {
    font-size: 1.5em;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-price {
    font-size: 2em;
    font-weight: bold;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-description {
    font-size: 1em;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-button {
    width: 200px;
    height: 60px;
    align-self: center;
    background-color: rgb(213, 32, 39);
    padding: 10px 25px;
    color: white;
    border: transparent;
    font-size: 0.7em;
    border-radius: 10px;
  }
  .fifth-section-list .fifth-section-list-item-card:hover {
    transition: 0.5s;
    transform: scale(1.1);
    color: white;
    background-color: rgb(20, 16, 36);
  }
}
@media (max-width: 1050px) {
  .fifth-section {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .fifth-section-title {
    font-size: 2.5em;
  }
  .fifth-section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
  }
  .fifth-section-list .fifth-section-list-item-one {
    justify-self: start;
  }
  .fifth-section-list .fifth-section-list-item-two {
    justify-self: center;
  }
  .fifth-section-list .fifth-section-list-item-three {
    justify-self: end;
  }
  .fifth-section-list .fifth-section-list-item-card {
    width: 200px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-header {
    font-size: 1.5em;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-price {
    font-size: 2em;
    font-weight: bold;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-description {
    font-size: 1em;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-button {
    width: 150px;
    height: 60px;
    align-self: center;
    background-color: rgb(213, 32, 39);
    padding: 10px 25px;
    color: white;
    border: transparent;
    font-size: 0.7em;
    border-radius: 10px;
  }
  .fifth-section-list .fifth-section-list-item-card:hover {
    transition: 0.5s;
    transform: scale(1.1);
    color: white;
    background-color: rgb(20, 16, 36);
  }
}
@media (max-width: 760px) {
  .fifth-section {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .fifth-section-title {
    font-size: 2em;
  }
  .fifth-section-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
  }
  .fifth-section-list .fifth-section-list-item-one {
    justify-self: center;
  }
  .fifth-section-list .fifth-section-list-item-two {
    justify-self: center;
  }
  .fifth-section-list .fifth-section-list-item-three {
    justify-self: center;
  }
  .fifth-section-list .fifth-section-list-item-card {
    width: 320px;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-header {
    font-size: 1.5em;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-price {
    font-size: 2em;
    font-weight: bold;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-description {
    font-size: 1em;
  }
  .fifth-section-list .fifth-section-list-item-card .section-fith-card-button {
    width: 200px;
    height: 60px;
    align-self: center;
    background-color: rgb(213, 32, 39);
    padding: 10px 25px;
    color: white;
    border: transparent;
    font-size: 0.7em;
    border-radius: 10px;
  }
  .fifth-section-list .fifth-section-list-item-card:hover {
    transition: 0.5s;
    transform: scale(1.1);
    color: white;
    background-color: rgb(20, 16, 36);
  }
}
/* END OF FITH SECTION *//*# sourceMappingURL=style.css.map */